<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <filter>
  <filter-name>CodingFilter</filter-name>
  <filter-class>cn.yunhe.eshop.filter.CodingFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>CodingFilter</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <filter>
  <filter-name>LoginFilter</filter-name>
  <filter-class>cn.yunhe.eshop.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
  	<servlet-name>CoreDispatchServlet</servlet-name>
  	<servlet-class>com.iyunhe.mvc.util.CoreDispatchServlet</servlet-class>
  	<init-param>
  		<param-name>coreConfigFilePath</param-name>
  		<param-value>/yock.xml</param-value>
  	</init-param>  	
  	<!-- 启动服务器时加载 -->
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CoreDispatchServlet</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>